html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#d_header {
    width: 100%;
    height: 100%;
    background: url(../img/header.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.s_github {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

#d_feedback {
    width: 100%;
    color: white;
    background-color: #509EA0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.s_maps {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 7%;
}